samples/flows.json
[
	{
		"id": "177ff7cf.eadab8",
		"type": "inject",
		"z": "41ed2576.34c6ac",
		"name": "Hello World",
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 208,
		"y": 118,
		"wires": [
			[
				"baa07280.d0d83"
			]
		]
	},
	{
		"id": "baa07280.d0d83",
		"type": "encrypt",
		"z": "41ed2576.34c6ac",
		"name": "",
		"algorithm": "AES",
		"key": "secret key",
		"x": 384,
		"y": 118,
		"wires": [
			[
				"2b1eb6ea.77e62a"
			]
		]
	},
	{
		"id": "2b1eb6ea.77e62a",
		"type": "decrypt",
		"z": "41ed2576.34c6ac",
		"name": "",
		"algorithm": "AES",
		"key": "secret key",
		"x": 557,
		"y": 118,
		"wires": [
			[
				"537e5d0.b6f2ca4"
			]
		]
	},
	{
		"id": "5b2121e6.039f1",
		"type": "digest",
		"z": "41ed2576.34c6ac",
		"name": "",
		"algorithm": "MD5",
		"x": 375,
		"y": 181,
		"wires": [
			[
				"2ff6c90e.a60216"
			]
		]
	},
	{
		"id": "537e5d0.b6f2ca4",
		"type": "debug",
		"z": "41ed2576.34c6ac",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 763,
		"y": 118,
		"wires": []
	},
	{
		"id": "2ff6c90e.a60216",
		"type": "debug",
		"z": "41ed2576.34c6ac",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 763,
		"y": 181,
		"wires": []
	},
	{
		"id": "9e94870c.f05498",
		"type": "inject",
		"z": "41ed2576.34c6ac",
		"name": "Hello World",
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 209,
		"y": 181,
		"wires": [
			[
				"5b2121e6.039f1"
			]
		]
	},
	{
		"id": "78837d6b.09e134",
		"type": "hmac",
		"z": "41ed2576.34c6ac",
		"name": "",
		"algorithm": "HmacSHA256",
		"key": "secret key",
		"x": 374,
		"y": 247,
		"wires": [
			[
				"aeb5bd2d.8831"
			]
		]
	},
	{
		"id": "6fe66168.568bf",
		"type": "inject",
		"z": "41ed2576.34c6ac",
		"name": "Hello World",
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 208,
		"y": 247,
		"wires": [
			[
				"78837d6b.09e134"
			]
		]
	},
	{
		"id": "aeb5bd2d.8831",
		"type": "debug",
		"z": "41ed2576.34c6ac",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 761,
		"y": 245,
		"wires": []
	},
	{
		"id": "64f84ef7.1b2ca",
		"type": "inject",
		"z": "41ed2576.34c6ac",
		"name": "Hello World",
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 210,
		"y": 360,
		"wires": [
			[
				"dc14dd7e.5afd3"
			]
		]
	},
	{
		"id": "c231ee50.91e04",
		"type": "debug",
		"z": "41ed2576.34c6ac",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 1113,
		"y": 361,
		"wires": []
	},
	{
		"id": "232b397b.91e216",
		"type": "encode",
		"z": "41ed2576.34c6ac",
		"name": "Enc: Base64",
		"encode": "Base64",
		"x": 569,
		"y": 361,
		"wires": [
			[
				"b67ecbb6.ff6948",
				"b73aa3ca.8a9c2"
			]
		]
	},
	{
		"id": "b67ecbb6.ff6948",
		"type": "decode",
		"z": "41ed2576.34c6ac",
		"name": "Dec: base64",
		"encode": "Base64",
		"x": 756,
		"y": 361,
		"wires": [
			[
				"b048942c.655248"
			]
		]
	},
	{
		"id": "5ddde9.0458b218",
		"type": "inject",
		"z": "41ed2576.34c6ac",
		"name": "Hello World",
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 209,
		"y": 304,
		"wires": [
			[
				"12fa2e1c.8e05c2"
			]
		]
	},
	{
		"id": "cefd714d.c8b66",
		"type": "debug",
		"z": "41ed2576.34c6ac",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 759,
		"y": 304,
		"wires": []
	},
	{
		"id": "d4549831.a0f8d8",
		"type": "encode",
		"z": "41ed2576.34c6ac",
		"name": "Enc: utf8",
		"encode": "Utf8",
		"x": 565,
		"y": 304,
		"wires": [
			[
				"cefd714d.c8b66"
			]
		]
	},
	{
		"id": "12fa2e1c.8e05c2",
		"type": "decode",
		"z": "41ed2576.34c6ac",
		"name": "Dec: utf8",
		"encode": "Utf8",
		"x": 387,
		"y": 304,
		"wires": [
			[
				"d4549831.a0f8d8"
			]
		]
	},
	{
		"id": "dc14dd7e.5afd3",
		"type": "decode",
		"z": "41ed2576.34c6ac",
		"name": "Dec: utf8",
		"encode": "Utf8",
		"x": 400,
		"y": 361,
		"wires": [
			[
				"232b397b.91e216"
			]
		]
	},
	{
		"id": "b048942c.655248",
		"type": "encode",
		"z": "41ed2576.34c6ac",
		"name": "Enc: utf8",
		"encode": "Utf8",
		"x": 933,
		"y": 361,
		"wires": [
			[
				"c231ee50.91e04"
			]
		]
	},
	{
		"id": "b73aa3ca.8a9c2",
		"type": "debug",
		"z": "41ed2576.34c6ac",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 779,
		"y": 435,
		"wires": []
	}
]